<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933232123034-njd4smo4ek45sft6jog0fc0krd4m0gnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933232123034-njd4smo4ek45sft6jog0fc0krd4m0gnj</string>
	<key>API_KEY</key>
	<string>AIzaSyCGsD4jMPrW2CJHg0EpO5xG-lsFMGL3_zE</string>
	<key>GCM_SENDER_ID</key>
	<string>933232123034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BanGips.BanGipsChat</string>
	<key>PROJECT_ID</key>
	<string>bangipschat</string>
	<key>STORAGE_BUCKET</key>
	<string>bangipschat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933232123034:ios:e94b89eb5c100b8e4ed323</string>
</dict>
</plist>